{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="gameListing.css">
    <title>Game List</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('nbahoopmetrics-final-background.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
<p></p>
<h3>Please enter Start Date, End Date and Team Name to pull up data,</h3>
<h3>such as Team Wins and Game Lists with scores:</h3>
{% block body %}
<form method="GET">
    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date" value="{{ request.GET.start_date}}" required>
    
    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date" value="{{ request.GET.end_date}}" required>
    
    <label for="team_name">Team Name:</label>
    <input type="text" id="team_name" name="team_name" placeholder="Enter team name" value="{{ request.GET.team_name}}">
    
    <button type="submit">Filter</button>
</form>
    {% if winning_stat %}
    <h2>Team Wins</h2>
    <table>
        <tr>
            <th>Team</th>
            <th>Wins</th>
        </tr>
        {% for team, score in winning_stat.items %}
            <tr>
                <td>{{ team }}</td>
                <td>{{ score }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if game_list %}
    <h2>Game List</h2>
    <table>
        <tr>
          <th>Date</th>
          <th>Home</th>
          <th>Away</th>
          <th>Home score</th>
          <th>Away score</th>
          <th>Winning team</th>
          <th>Post season</th>
        </tr>
        {% for game in game_list %}
            <tr>
              <td>{{ game.date }}</td>
              <td>{{ game.home_team_name }}</td>
              <td>{{ game.visitor_team_name }}</td>
              <td>{{ game.home_team_score }}</td>
              <td>{{ game.visitor_team_score }}</td>
              <td>{{ game.winning_team }}</td>
              <td>{{ game.post_season }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}

</body>
</html>