{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'libraries/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <title>NBA</title>
</head>
<body>
    <nav class="navbar flex-container navbar-expand-md">
        <div class="container-fluid">    
            <div class="mx-5">
                <a class="navbar-brand " href="https://www.nba.com/" target="blank">
                    <img src="{% static 'images/logo-nba.svg' %}" alt="">
                </a>
                <a class="navbar-brand " href="games/">
                    Games
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="d-inline d-sm-inline d-lg-none"><i id="arrowdown" class="fas fa-angle-down"></i></div>
                </button>            
            </div>
        </div>    
    </nav>
    
    

    <script src="{% static 'libraries/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'libraries/popper.min.js' %}"></script>
    <script src="{% static 'libraries/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</body>
</html>